# Node.js (React)
node_modules/
build/
.env

# Java (Spring Boot)
target/
*.class
*.jar
*.war
*.log

# General
.DS_Store
.idea/
.vscode/
*.iml
*.swp

# PostgreSQL
*.sql
*.sqlite

# Other
*.log
*.bak
*.tmp
